.krisworld-entertainment-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.elapsed-bar-krisworld-entertainment {
    position: relative;
    top: -24px;
    height: 24px;
    width: 280px;
    background-color: #2834A5;
    border-radius: 10px;
    z-index: 1;
}

.message-box-text-kwe {
    position: absolute;
    width: 60%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    left: 115px;
}

.movie-img {
    width: 120%;
}